[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO={{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ ENV }}/redis:MONGO token={{ vault_token }} url=http://vault-internal.azdevops.shop:8200') }}
Environment=REDIS_URL='{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ ENV }}/redis:REDIS_URL token={{ vault_token }} url=http://vault-internal.azdevops.shop:8200') }}'
Environment=MONGO_URL="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ ENV }}/redis:MONGO_URL token={{ vault_token }} url=http://vault-internal.azdevops.shop:8200') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target